# .env
NODE_ENV=development
DATABASE_HOST=ep-little-glade-879087.us-east-2.aws.neon.tech
DATABASE_PORT=5432
DATABASE_USERNAME=testuser
DATABASE_PASSWORD=123456
DATABASE_NAME=testdb

APP_PORT=3000

REDIS_HOST=redis-7575.c987.us-east-1-2.ec2.redns.redis-cloud.com
REDIS_PORT=17073
REDIS_PASSWORD=hgkhjgkjjyjhfhgjhf

JWT_SECRET=lkhlkjjytj.?ghu.*098=

ENCRYPTION_KEY=12345678945612a6abf7158809cf4f3c762e7160c1847360a59c81b3f0b2cc92
ENCRYPTION_IV=789456126ecad3c29a3a629280e686cf

